zvcxbcbcv

<!DOCTYPE html>
<html>
<head>
    <title>The latest Weather Forcast</title>
    <h1> Instance: {{ instance_id }}</h1>
</head>
<body style="background-color:green">
    <form method="POST" action="/">
        <input type="text" name="city" placeholder="Enter city" required>
        <input type="text" name="country" placeholder="Enter country (optional)">
        <input type="submit" value="Get Weather">
    </form>
    {% if result %}
        <h2>Geo Data:</h2>
        <pre>{{ result }}</pre>
    {% endif %}
</body>
</html>

